body {
    background-color: #323232;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

div {
    padding: 20px;
    margin: 10px;
    background-color: #212121;
    border-radius: 5px;
}
main{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 35px;
}

.inserir{
    display: flex;
    width: 300px;
    border-radius: 15px;
    flex-wrap: wrap;
}
.numero{
    height: 35px;
    border-radius: 15px;
}
input{
    width: 75%;

}
form{
   
    height: 350px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    
}
nav{
    display: flex;
    justify-content: space-around;
    box-shadow: #383838 5px 5px 5px 5px;
    
}
a{
    text-decoration: none;
    color: white;
    font-size: 35px;
}

h2 {
    color: #078490;
}
.botao{
    background-color:#078490 ;
    width: 50%;
    margin: auto;
    border-radius: 15px;
    height: 35px;
}
.botao:hover {
    background-color: #056166;
}
.voltar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323232;
    width: 50%;
    margin: auto;
}
.voltar button{
    width: 250px;
}